@font-face {
	font-family: "gaoduanhei";
 	src: 	url('gaoduanhei.ttf?t=1562639044647')  format('truetype');
}
@font-face {
	font-family: "kuhei";
 	src: 	url('kuhei.ttf?t=1562639044647')  format('truetype');
}
@font-face {
	font-family: "kuaile";
 	src: 	url('kuaile.ttf?t=1562639044647')  format('truetype');
}
@font-face {
	font-family: "qingkehuangyou";
 	src: 	url('qingkehuangyou.ttf?t=1562639044647')  format('truetype');
}
@font-face {
	font-family: "wenyi";
 	src: 	url('wenyi.ttf?t=1562639044647')  format('truetype');
}
@font-face {
	font-family: "xiaoweilogo";
 	src: 	url('xiaoweilogo.ttf?t=1562639044647')  format('truetype');
}
@font-face {
	font-family: "yidali";
 	src: 	url('yidali.ttf?t=1562639044647')  format('truetype');
}

@font-face {
	font-family: "laihufont";
 	src: 	url('LaihuFont.ttf?t=1562639044647')  format('truetype');
}
@font-face {
	font-family: "MuyaoSoftbrush";
 	src: 	url('Muyao-Softbrush.ttf?t=1562639044647')  format('truetype');
}
@font-face {
	font-family: "pangmenzhengdao";
 	src: 	url('PangMenZhengDaoBiaoTiTi-1.ttf?t=1562639044647')  format('truetype');
}
@font-face {
	font-family: "shouxieti";
 	src: 	url('shouxieti.ttf?t=1562639044647')  format('truetype');
}
@font-face {
	font-family: "siyuanheiti";
 	src: 	url('SourceHanSansCN-Heavy.ttf?t=1562639044647')  format('truetype');
}
@font-face {
	font-family: "siyuansongti";
 	src: 	url('SourceHanSerifCN-Regular-1.ttf?t=1562639044647')  format('truetype');
}
@font-face {
	font-family: "siyuanzhenhei";
 	src: 	url('GenShinGothic-Normal-2.ttf?t=1562639044647')  format('truetype');
}
@font-face {
	font-family: "xianerti";
 	src: 	url('xianerti.ttf?t=1562639044647')  format('truetype');
}
@font-face {
	font-family: "zhushiti";
 	src: 	url('zhushiti-Regular.ttf?t=1562639044647')  format('truetype');
}




