@font-face {
	font-family: "gaoduanhei";
 	src: 	url('gaoduanhei.woff2?t=1562639044647')  format('woff2');
}
@font-face {
	font-family: "kuhei";
 	src: 	url('kuhei.woff2?t=1562639044647')  format('woff2');
}
@font-face {
	font-family: "kuaile";
 	src: 	url('kuaile.woff2?t=1562639044647')  format('woff2');
}
@font-face {
	font-family: "qingkehuangyou";
 	src: 	url('qingkehuangyou.woff2?t=1562639044647')  format('woff2');
}
@font-face {
	font-family: "wenyi";
 	src: 	url('wenyi.woff2?t=1562639044647')  format('woff2');
}
@font-face {
	font-family: "xiaoweilogo";
 	src: 	url('xiaoweilogo.woff2?t=1562639044647')  format('woff2');
}
@font-face {
	font-family: "yidali";
 	src: 	url('yidali.woff2?t=1562639044647')  format('woff2');
}

@font-face {
	font-family: "laihufont";
 	src: 	url('LaihuFont.woff2?t=1562639044647')  format('woff2');
}
@font-face {
	font-family: "MuyaoSoftbrush";
 	src: 	url('Muyao-Softbrush.woff2?t=1562639044647')  format('woff2');
}
@font-face {
	font-family: "pangmenzhengdao";
 	src: 	url('PangMenZhengDaoBiaoTiTi-1.woff2?t=1562639044647')  format('woff2');
}
@font-face {
	font-family: "shouxieti";
 	src: 	url('shouxieti.woff2?t=1562639044647')  format('woff2');
}
@font-face {
	font-family: "siyuanheiti";
 	src: 	url('SourceHanSansCN-Heavy.woff2?t=1562639044647')  format('woff2');
}
@font-face {
	font-family: "siyuansongti";
 	src: 	url('SourceHanSerifCN-Regular-1.woff2?t=1562639044647')  format('woff2');
}
@font-face {
	font-family: "siyuanzhenhei";
 	src: 	url('GenShinGothic-Normal-2.woff2?t=1562639044647')  format('woff2');
}
@font-face {
	font-family: "xianerti";
 	src: 	url('xianerti.woff2?t=1562639044647')  format('woff2');
}
@font-face {
	font-family: "zhushiti";
 	src: 	url('zhushiti-Regular.woff2?t=1562639044647')  format('woff2');
}




